
.toplayer-top{
  width: 500px;
  height: 300px;
  position: absolute;
  top: 400px;
  margin-top: -150px;/*垂直居中*/
  z-index: 2;
  right:50%;
  margin-right: -250px;/*水平居中*/
  text-align: center;
}
.toplayer-top .word{
  padding-top: 100px;
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  
}
.toplayer-top button{
  width: 200px;
  height: 60px;
  color: #fff;
  background-color: #f5704f;
  font-weight: bold;
  font-size: 14px;
  margin-top: 50px;
  border-radius: 8px;/*设置圆角*/
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


