.res-box {
  height: 1000px;
}

.center-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.w100 {
  width: fit-content;
}

.res-img {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.unselected {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.selected {
  border: 3px solid #176891;
}

.unselected {
  border: 1px solid red;
}

@media screen and (min-width: 1200px) {
  .res-img {
    height: 80px;
    width: 80px;
  }
}

@media screen and (min-width: 1400px) {
  .res-img {
    height: 80px;
    width: 80px;
  }
}


@media screen and (min-width: 2000px) {
  .res-img {
    height: 100px;
    width: 100px;
  }
}


@media screen and (max-width: 1000px) {
  .res-img {
    height: 80px;
    width: 80px;
  }
}

@media screen and (max-width: 600px) {
  .res-img {
    height: 40px;
    width: 40px;
  }
}