@media screen and (min-width: 1200px){
    .test{
        margin-top:155px;
    }
}

@media screen and (max-width: 1200px){
    .test{
        margin-top:160px;
    }
}


ul.nav.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
}



@media screen and (min-width: 1200px){
    .bg-image {
        background-size: cover;
        height: 400px;
    }
}

@media screen and (max-width: 1200px){
    .bg-image {
        background-size: cover;
        height: 300px;
    }
}

