.App-logo {
    width: 100px;
    height: 100px;
    border-radius: .5em;
  }

  .unselected{
    height:80px;
    width:80px;
    border-radius: 10px;
    }
    
    .selected {
    border: 3px solid #ab93ff;
    }
    
    .unselected {
    border: 1px solid red;
    }