/* .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
    [data-theme="dark"] .site-layout .site-layout-background {
      background: #141414;
    }
    */
#siderbar{
    flex: 0 0 500px; 
    max-width: 500px; 
    min-width: 500px; 
    width: 250px;
} 

